@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
    background-color: #545454;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.card {
    width: 100%;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #fff;
    position: relative;
    height: 370px;
}

.upper {
    height: 50px;
}

.upper img {

    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.user {
    position: relative;
}

.profile img {


    /* height: 80px; */
    width: 70%;
    /* margin-top: 2px; */


}

.profile {

    position: absolute;
    top: -50px;
    left: 38%;
    height: 90px;
    width: 90px;
    border: 3px solid #fff;

    border-radius: 50%;

}

.follow {

    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 35px;
}

.stats span {

    font-size: 29px;
}

.chart-container, .card-information-sales {
    display: flex;
    flex-direction: column;
}
.chart-revenue, .card-information-sales > .row {
    flex: 1;
}
.card-information-sales .row:first-child {
    margin-bottom: 1rem;
}
.min-h-100 {
    height: 100%;
}
.bg-secondary {
    background-color: #f1f3f5 !important;
}
.card-title {
    font-size: 1.25rem;
    font-weight: 600;
}
.card-subtitle {
    font-size: 0.875rem;
    color: #6c757d;
}
.progress-bar {
    background-color: #28a745;
}
.product-item {
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.product-item img {
    width: 6rem;
    flex-grow: 1;
    object-fit: cover;
    margin-right: 15px;
}
.product-details {
    flex-grow: 1;
}